.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 40px;
  color: red;
  text-align: center;
}

.input {
  font-size: 20px;
  color: red;
  padding: 10px;
  font-weight: bold;
}

.output,
.output2 {
  display: flex;
  font-size: 20px;
  margin: 20px 20px 0 0;
}

.output-res,
.output-res__tolyan {
  font-weight: bold;
  font-size: 25px;
  color: red;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

li {
  list-style-type: none;
  margin-bottom: 7px;
}

.list {
  display: none;
  font-size: 18px;
}

.list.active {
  margin: 0;
  padding: 0;
  display: block;
}

.show {
  font-size: 20px;
  background: greenyellow;
  border: none;
  margin: 20px 0;
  color: white;
  padding: 10px;
}